@import "tailwindcss";

@theme {
    --animate-fade-in: fade-in 0.5s ease-out forwards;
    --animate-slide-up: slide-up 0.5s ease-out forwards;
    --animate-scale-in: scale-in 0.3s cubic-bezier(0.2, 0, 0.2, 1) forwards;

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes slide-up {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes scale-in {
        0% {
            opacity: 0;
            transform: scale(0.95);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}